%h2 controllo lega

-if Rose.find_by_user_id(current_user.id)==nil
 rosa creata con errore clicca qua per ricreare la tua rosa
 #{link_to 'crea il tuo team', leagues_path}
-else
 team creato correttamente
 %td=@rose.portiere1
  
%br
%br
  

  

