%h1 FantaRuby
%h2 Details about #{@lega.name}
%table
  %thead
  %h3 Montepremi:
  %tr
    %td Primo
    %td 400$
  %tr
    %td Secondo
    %td 200$
  %tr
    %td Terzo
    %td 100$
%br
%br
%br

= form_tag leagues_path, :method => :get do
  = submit_tag 'Partecipa'
#{link_to 'Torna a "Selezione Lega"', homes_path}
%br

