// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.navbar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navbar_li {
    float: left;
}

li.navbar_li a.navbar_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar_li a.navbar_a:hover {
    background-color: #5f9ea0;
}

#active {
    background-color: #696969;
}




table#players{
    margin: 10px;
    border-collapse: collapse;
    width: 50%;
    text-align:center;
    border: 4px solid black;
}

tr#tr{
    background-color:blue;
    border: 3px solid black;
}


td#t{
    border: 1px solid black;
}

table#tabella_eventi{
    margin: 10px;
    border-collapse: collapse;
    width: 50%;
    text-align:center;
    border: 2px solid black;
}
tr#tr_eventi{
    border: 3px solid black;
}

th#th_eventi{
    border: 1px solid black;
}

td#td_eventi_nome{
    border: 1px solid black;
    background-color: coral;
}

td#td_eventi_giorno{
    border: 1px solid black;
    background-color: gold;
}

td#td_eventi_ora{
    border: 1px solid black;
    background-color: darkcyan;
}
