<h1>About</h1>
<h2 id="titolo">
    FantaRuby
</h2>
<div>
    Questo sito fornisce servizi e funzioni per gestire leghe fantacalcistiche tra amici.<br/><br/>
    Gli utenti possono registrarsi e scegliere di creare una lega personale e invitare i propri amici oppure decidere di partecipare a una lega già esistente.
    Una volta registrati ai server del sito (anche tramite <b>Facebook</b>) e scelto la propria lega, l'utente può creare la propria rosa:
    verrà fornito un budget di <b>300</b> crediti per poter acquistare i giocatori, le cui quotazioni verranno prese dal sito di <b>FantaGazzetta</b>.
    <br/>
    <br/>
    Le giornate delle varie leghe sono in concordanza con quelle del campionato di calcio,e quindi sono in totale 38.<br/>
    A fine di ogni giornata il presidente di lega potrà <b>calcolare</b> i voti (ancora una volta verranno presi dal sito di <b>FantaGazzetta</b>) resi disponibili dagli admin e così aggiornare le classifiche di lega.
    <br/>
    <br/>
    Ogni utente ha la possibilità di inserire la formazione per ciascuna giornata e di gestire un suo profilo personale in cui potere condividere la sua squadra del cuore o il punteggio conseguito nella giornata appena terminata tramite il suo profilo <b>Twitter</b>.
    Un ulteriore servizio reso agli utenti sono i <b>risultati</b> delle partite di <b>Serie A</b> per ogni giornata e le <b>info su squadre</b> e relative <b>rose</b> che parteciperanno al campionato.<br/>
    Infine, per non perdere nessun evento calcistico e fantacalcistico ci sarà una pagina con un <b>calendario</b> dedicato agli appuntamenti più importanti!
    <br/><br/>
    Il team <b id="titolo">FantaRuby</b> augura una buona fortuna a tutti gli utenti per il fantacalcio in corso, che vinca la rosa migliore!
</div>
<br/>
<br/>
<< <%= link_to "Torna al login", '/users/sign_in' %>
