<h1>Contatti</h1>
<div>
    <h2>Sviluppatori</h2>
    <table class="sp_table">
        <tr class="sp_tr"><td class="sp_td"><b>Federico</b></td><td class="sp_td"> --- </td><td class="sp_td"> bucci1649197@studenti.uniroma1.it</td></tr>
        <tr class="sp_tr"><td class="sp_td"><b>Andrea</b></td>  <td class="sp_td"> --- </td><td class="sp_td"> franceschi1709888@studenti.uniroma1.it</td></tr>
        <tr class="sp_tr"><td class="sp_td"><b>Riccardo</b></td><td class="sp_td"> --- </td><td class="sp_td"> fiore1705634@studenti.uniroma1.it</td></tr>
        <tr class="sp_tr"><td class="sp_td"><b>Michael</b></td> <td class="sp_td"> --- </td><td class="sp_td"> capponi1711759@studenti.uniroma1.it</td></tr>
    </table>
    <br/>
    <h2>E-mail del sito</h2>
    fantaruby18@gmail.com
</div>
<br/>
<br/>
<< <%= link_to "Torna al login", '/users/sign_in' %>
