// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table#tabella{
    margin: 10px;
    border-collapse: collapse;
    width: 70%;
    text-align:center;
    border: 4px solid black;
}

tr#col{
    background-color:yellow;
    border: 3px solid black;
}



td#t{
    border: 1px solid black;
}
