<div class="field">
    <%= f.label :favourite_team %><br />
    <%= f.select :favourite_team, [ "Atalanta", "Benevento", "Bologna", "Cagliari", "Chievo Verona", "Crotone", "Fiorentina", "Genoa", "Inter", "Juvenus", "Lazio", "Milan" , "Napoli", "Roma", "Sampdoria", "Sassuolo", "Spal", "Torino", "Udinese", "Verona"] %><br /><br />
</div>
